/* Footer.css */

/* Footer container */
.mdb-footer {
  background-color: #f8f9fa;
  color: #6c757d;
  padding: 1rem 0;
}




/* Copyright section */
.mdb-footer .copyright {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1rem 0;
  font-weight: bold;
  text-align: center;
}

/* Responsive adjustments */
@media (min-width: 992px) {
  .mdb-footer .social-links {
    justify-content: flex-start;
    margin-bottom: 0;
  }
  
  .mdb-footer .social-links .me-5 {
    margin-right: 1rem;
  }
}
.footer-container{
  background-color: #0c2b4d;
  margin-top: 60px;
    border-radius: 10px
}
.get-connect{
  font-size: 15px;
    padding: 20px;
    color: white;
}

.footer-down{
  color: wheat;
  font-size: 11px;
  padding: 10px
}
.footer-copy{
  color: wheat;
  padding: 5px;
  text-decoration: none;
}

/* Footer.css */

/* Social media links section */
.social-links {
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links a {
  font-size: 24px;
  color: #007bff; /* Change the color as needed */
  margin-right: 20px; /* Adjust the spacing between icons */
  text-decoration: none;
  transition: color 0.2s ease;
}

.social-links a:last-child {
  margin-right: 0; /* Remove margin-right from the last link */
}

.social-links a:hover {
  color: #0056b3; /* Change the hover color as needed */
}
